In [4]:
import pandas as pd

data = {
    '縣市': ['台北', '台北', '台北', '新竹', '新竹', '新竹'],
    '年份': [2000, 2001, 2002, 2001, 2002, 2003],
    '人口': [2.2, 2.5, 2.7, 1.1, 1.5, 2.0]
}

df1 = pd.DataFrame(data)
display(df1)

   縣市    年份   人口
0  台北  2000  2.2
1  台北  2001  2.5
2  台北  2002  2.7
3  新竹  2001  1.1
4  新竹  2002  1.5
5  新竹  2003  2.0

In [5]:
#多個相同索引的Series, 可以組成一個DataFrame
display(df1['縣市'])
display(df1['年份'])
display(df1['人口'])

0    台北
1    台北
2    台北
3    新竹
4    新竹
5    新竹
Name: 縣市, dtype: object

0    2000
1    2001
2    2002
3    2001
4    2002
5    2003
Name: 年份, dtype: int64

0    2.2
1    2.5
2    2.7
3    1.1
4    1.5
5    2.0
Name: 人口, dtype: float64

In [6]:
data = {
    '縣市': ['台北', '台北', '台北', '新竹', '新竹', '新竹'],
    '年份': [2000, 2001, 2002, 2001, 2002, 2003],
    '人口': [2.2, 2.5, 2.7, 1.1, 1.5, 2.0]
}

df2 = pd.DataFrame(data, columns=['縣市', '人口'])
df2

   縣市   人口
0  台北  2.2
1  台北  2.5
2  台北  2.7
3  新竹  1.1
4  新竹  1.5
5  新竹  2.0

In [7]:
data = {
    '縣市': ['台北', '台北', '台北', '新竹', '新竹', '新竹'],
    '年份': [2000, 2001, 2002, 2001, 2002, 2003],
    '人口': [2.2, 2.5, 2.7, 1.1, 1.5, 2.0]
}

df3 = pd.DataFrame(data, columns=['縣市', '人口'])
df3

   縣市   人口
0  台北  2.2
1  台北  2.5
2  台北  2.7
3  新竹  1.1
4  新竹  1.5
5  新竹  2.0

In [15]:
data = {
    '縣市': ['台北', '台北', '台北', '新竹', '新竹', '新竹'],
    '年份': [2000, 2001, 2002, 2001, 2002, 2003],
    '人口': [2.2, 2.5, 2.7, 1.1, 1.5, 2.0]
}

df4 = pd.DataFrame(data, index=['one', 'two', 'three', 'four', 'five', 'six'])
df4

       縣市    年份   人口
one    台北  2000  2.2
two    台北  2001  2.5
three  台北  2002  2.7
four   新竹  2001  1.1
five   新竹  2002  1.5
six    新竹  2003  2.0

In [8]:
data = [
    {'縣市': '台北', '年份': 2000, '人口': 2.2},
    {'縣市': '台中', '年份': 2001, '人口': 1.1},
    {'縣市': '新竹', '年份': 2001, '人口': 1.5}
]

df5 = pd.DataFrame(data)
df5

   縣市    年份   人口
0  台北  2000  2.2
1  台中  2001  1.1
2  新竹  2001  1.5

In [9]:
#二維的ndArray
import numpy as np

data = np.random.randint(50, 101, size=(50, 5))
scores_df = pd.DataFrame(data, columns=['國文', '英文', '數學', '地理', '歷史'], index=range(1, 51))
scores_df

     國文  英文   數學   地理   歷史
1    94  95   65   86  100
2    99  90   50   52   80
3    85  53   84   53   96
4    59  52   81   74   87
5    61  93   65   63   85
6    74  66   67   61   89
7    53  75   88   87   92
8    91  51   86   72   56
9    59  99   94   52   92
10   92  98   99   54   64
11   75  83   55   67   76
12   76  84   65   59   73
13   55  61   76   50   62
14   74  50   76   87   51
15   91  63   72   83   69
16   64  60   76   57   62
17   77  72   81   81   67
18   53  71   87   94   98
19   67  92   55   59   77
20   99  81   79   74   73
21  100  92   88   67   72
22   86  55   54   67   67
23   80  52   56   68   63
24   82  57   98   51   57
25   94  55   52   56   85
26   54  65   58   76   66
27   52  51   94   51   61
28   97  83   76  100   85
29   95  88   93   59   63
30   60  51   86   67   93
31   75  82   81   59  100
32   96  84   78   98   67
33   97  89   50   95   55
34   68  52   90   67   73
35   67  69   73   61   84
36   86  70   92   59   55
37   89  90   60   70   77
38   67  72   87   58   92
39   60  65   80   66   95
40   66  67   80   58   94
41   95  56   63   93   57
42   89  77   63   79   87
43   51  52   79   88   54
44   64  87   80   80   61
45   87  56   59   66   64
46   92  74   52   66   52
47   79  67   85   71   83
48   70  60  100   72   66
49   95  86   70   61   83
50   80  51   80   63   79

In [10]:
total_series = scores_df['國文'] + scores_df['數學'] + scores_df['英文'] + scores_df['地理'] + scores_df['歷史']
# display(total_series)
# display(scores_df)

scores_df['總分'] = total_series
# display(scores_df)
scores_df['平均'] = total_series / 5.0
display(scores_df)

     國文  英文   數學   地理   歷史   總分    平均
1    94  95   65   86  100  440  88.0
2    99  90   50   52   80  371  74.2
3    85  53   84   53   96  371  74.2
4    59  52   81   74   87  353  70.6
5    61  93   65   63   85  367  73.4
6    74  66   67   61   89  357  71.4
7    53  75   88   87   92  395  79.0
8    91  51   86   72   56  356  71.2
9    59  99   94   52   92  396  79.2
10   92  98   99   54   64  407  81.4
11   75  83   55   67   76  356  71.2
12   76  84   65   59   73  357  71.4
13   55  61   76   50   62  304  60.8
14   74  50   76   87   51  338  67.6
15   91  63   72   83   69  378  75.6
16   64  60   76   57   62  319  63.8
17   77  72   81   81   67  378  75.6
18   53  71   87   94   98  403  80.6
19   67  92   55   59   77  350  70.0
20   99  81   79   74   73  406  81.2
21  100  92   88   67   72  419  83.8
22   86  55   54   67   67  329  65.8
23   80  52   56   68   63  319  63.8
24   82  57   98   51   57  345  69.0
25   94  55   52   56   85  342  68.4
26   54  65   58   76   66  319  63.8
27   52  51   94   51   61  309  61.8
28   97  83   76  100   85  441  88.2
29   95  88   93   59   63  398  79.6
30   60  51   86   67   93  357  71.4
31   75  82   81   59  100  397  79.4
32   96  84   78   98   67  423  84.6
33   97  89   50   95   55  386  77.2
34   68  52   90   67   73  350  70.0
35   67  69   73   61   84  354  70.8
36   86  70   92   59   55  362  72.4
37   89  90   60   70   77  386  77.2
38   67  72   87   58   92  376  75.2
39   60  65   80   66   95  366  73.2
40   66  67   80   58   94  365  73.0
41   95  56   63   93   57  364  72.8
42   89  77   63   79   87  395  79.0
43   51  52   79   88   54  324  64.8
44   64  87   80   80   61  372  74.4
45   87  56   59   66   64  332  66.4
46   92  74   52   66   52  336  67.2
47   79  67   85   71   83  385  77.0
48   70  60  100   72   66  368  73.6
49   95  86   70   61   83  395  79.0
50   80  51   80   63   79  353  70.6

In [13]:
display(scores_df.loc[10])
display(scores_df.iloc[9])

國文     92.0
英文     98.0
數學     99.0
地理     54.0
歷史     64.0
總分    407.0
平均     81.4
Name: 10, dtype: float64

國文     92.0
英文     98.0
數學     99.0
地理     54.0
歷史     64.0
總分    407.0
平均     81.4
Name: 10, dtype: float64

In [14]:
#slice
scores_df.loc[1:10]

    國文  英文  數學  地理   歷史   總分    平均
1   94  95  65  86  100  440  88.0
2   99  90  50  52   80  371  74.2
3   85  53  84  53   96  371  74.2
4   59  52  81  74   87  353  70.6
5   61  93  65  63   85  367  73.4
6   74  66  67  61   89  357  71.4
7   53  75  88  87   92  395  79.0
8   91  51  86  72   56  356  71.2
9   59  99  94  52   92  396  79.2
10  92  98  99  54   64  407  81.4

In [17]:
#使用list
scores_df.loc[[1, 3, 5, 7, 9]]

   國文  英文  數學  地理   歷史   總分    平均
1  94  95  65  86  100  440  88.0
3  85  53  84  53   96  371  74.2
5  61  93  65  63   85  367  73.4
7  53  75  88  87   92  395  79.0
9  59  99  94  52   92  396  79.2

In [20]:
#前10筆
display(scores_df.iloc[:10])

#最後10筆
display(scores_df.iloc[-10:])

    國文  英文  數學  地理   歷史   總分    平均
1   94  95  65  86  100  440  88.0
2   99  90  50  52   80  371  74.2
3   85  53  84  53   96  371  74.2
4   59  52  81  74   87  353  70.6
5   61  93  65  63   85  367  73.4
6   74  66  67  61   89  357  71.4
7   53  75  88  87   92  395  79.0
8   91  51  86  72   56  356  71.2
9   59  99  94  52   92  396  79.2
10  92  98  99  54   64  407  81.4

    國文  英文   數學  地理  歷史   總分    平均
41  95  56   63  93  57  364  72.8
42  89  77   63  79  87  395  79.0
43  51  52   79  88  54  324  64.8
44  64  87   80  80  61  372  74.4
45  87  56   59  66  64  332  66.4
46  92  74   52  66  52  336  67.2
47  79  67   85  71  83  385  77.0
48  70  60  100  72  66  368  73.6
49  95  86   70  61  83  395  79.0
50  80  51   80  63  79  353  70.6

In [21]:
from requests import Response
import requests
from io import StringIO
import csv
import pandas as pd

def get_data() -> list[dict]:
    link = 'https://raw.githubusercontent.com/roberthsu2003/__2024_02_20_2_4__/main/lesson11/students.csv'
    try :
        down:Response=requests.get(link)
        
    except:
        print("Error")
        return
    file:str=down.text
    b:StringIO=StringIO(file)
    cs=csv.DictReader(b)
    data:list[dict]=list(cs)
    return data

data:list[dict] = get_data()
pd.DataFrame(data)

   name height weight
0   李政成    207     42
1   艾巧夫    153     45
2   林昱芳    184     66
3   洪阿惠    162     58
4   陳淑萍    160     79
5   黃旻林    191     79
6   陳怡伶    191     52
7   周怡啟    216     40
8   臧怡君    192     65
9   林柏洋    214     56
10  吳淑惠    173     49
11  魏秋萍    207     62
12  葉志峰    209     63
13  尚偉倫    212     81
14  張莉雯    213     56
15  童建霖    166     43
16  馮耀中    202     53
17  彭虹屏    183     56
18  黃淑芬    164     86
19  黃善迪    169     87
20  邱亭君    218     57
21  游治旺    157     42
22  林瑞喬    197     76
23  童建霖    184     58
24  陳淑娟    171     65
25  林冠蕙    197     57
26  余月修    214     68
27  陳怡容    199     56
28  陳建豪    201     80
29  潘英迪    218     81
30  錢佩豪    191     55
31  林俊翔    207     58
32  程玫靖    178     57
33  黃婷婷    202     48
34  劉慧君    196     64
35  張俊傑    174     84
36  王人仰    171     78
37  趙宛真    217     76
38  游一鈺    204     57
39  方筠紹    207     87
40   戚亨    207     66
41  鄧哲榮    180     69
42  黃淑芬    182     49
43  趙家豪    175     40
44  李政成    215     64
45  尚偉倫    183     42
46  傅佳琳    168     64
47  蔡至剛    171     65
48  艾巧夫    193     51
49  陳彥治    151     64